NEXT_PUBLIC_SUPABASE_URL=https://rfxrnuxwlicaeihwfakb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJmeHJudXh3bGljYWVpaHdmYWtiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQwMjQ3ODcsImV4cCI6MjA5OTYwMDc4N30.7nQNkhchaL_6r7sQSaxZmf4SectSecU78ucariDiUqg
